.welcome_text {
    text-align: center;
}

#main_logo {
    width: 25vw;
}

#primary_main_box {
    height: 81vh;
}

.spacing_row {
    height: 15vh;
}

@media (min-width: 992px) {
    .featured_text {
        max-width: 30vw;
    }

    .featured_image {
        max-width: 32vw;
    }
}

.comment_user {
    font-weight: 500;
}

.comment p {
    margin: 0px;
    padding: 0px;
}

.like_count p {
    padding: 0px;
    margin: 0px;
    margin-top: 1em;
}

.like_button_container {
    background: none;
    outline: none;
    cursor: pointer;
}

.like_button_container {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.like_button_container:hover .material-icons-outlined {
    /* font-family: 'Material Icons'; */
    color: #0d6efd;
}

/* .like_button {
    color: grey;
} */